html {
	padding: 0;
}

body {
	font-family: OpenSans, 'Helvetica Neue';
	margin: 0;
}

header, footer {
	background: black;
	color: white;
	padding: 5em;
}

main, section {
	max-width: 60em;
	margin: auto;
}

h1, h2 {
	text-align: center;
}

table {
	margin: auto;
	text-align: right;
}

caption {
	opacity: .4;
}

table:hover caption {
	opacity: 1;
}

th {
	font-weight: normal;
	padding-right: 2em;
}


footer {
	margin-top: 2em;
	font-size: 80%;
	text-align: center;
	color: #EEE;
}

footer a {
	color: inherit;
}

.tooltip {
	border-style: solid;
	border-width: .5em;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
	border-right-width: 0;
	padding: 0 .5em;
	background-color: rgba(0, 0, 0, .1);
}
